:host {
  display: flex;

  align-items: center;
  justify-content: center;

  column-gap: 20px;

  padding: 5px;
}

img {
  width: 50px;
  height: 50px;
}

h1 {
  font-family: "Potta One", cursive;
  font-size: 1.85rem;
  font-weight: 900;

  color: transparent;
  text-shadow: 2px 2px 1px #e73240;
}
